body {
    font-family: 'Oxygen', sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
}


.jumbotron {
    background-color: paleturquoise;
    background-image: url(https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    text-align: left;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    color: purple;
}

.container {
    margin-top: 60px;
}

h3 {
    text-align: center;
    padding: 30px;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.jumbotron2 {
    text-align: center;
    padding: 60px;
}

.card-deck {
    margin-right: 40px;
    margin-left: 40px;
    padding: 60px;
}

h4 {
    text-align: center;
    padding: 20px;
}

.form-group {
    margin-left: 200px;
    margin-right: 200px;
    line-height: 1em;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: purple;
    color: white;
      }